@import "functions";
@import "mixins";

.is-flex {
    justify-content: center;
}

iframe {
    animation: fadeIn;
    animation-duration: 2s;
    border: convert-to-rem(2) solid transparent;
    border-image: linear-gradient($orange-axe, $gray) 1;
}

.space {
    padding-bottom: convert-to-rem(24);
}

.space-text {
	margin-top: convert-to-rem(24);
	text-align: center;
}

.columns {
	justify-content: center;
	.column {
		width: 75%;
		flex: none;
		.card {
			display: flex;
			width: convert-to-rem(1500);

			.card-image {
				box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
				width: 100%;
				height: 100%;

				figure {
					img {
						object-fit: cover;
					}
				}
			}

			.card-content {
				width: 100%;

				.content {
					flex-direction: row;
				}
			}
		}
	}
}

@include xs {
	.columns {
		.column {
			width: 100%;
		}
	}
    .card {
		flex-direction: column;
    }
}

@include sm {
	.columns {
		display: flex;
		.column {
			width: 50%;
		}
	}
    .card {
		flex-direction: column;
    }
}

@include md {
	.columns {
		display: flex;
		.column {
			width: 50%;
		}
	}
    .card {
		flex-direction: column;
	}

}

@include lg {
	.columns {
		.column {
			width: 50%;
		}
	}
    .card {
		flex-direction: column;
    }
}
