@import "vars";
@import "functions";
@import "mixins";

.container {
    .hr {
        display: flex;
        justify-content: center;
        
        hr {
            border: none;
            border-top: convert-to-rem(2) solid $gray;
            text-align: center;
            width: 50%;
        }
    }
    
    .space {
        padding-top: convert-to-rem(24);
    }
    .section {
        .is-flex {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            
            .card {
                height: convert-to-rem(300);
                width: convert-to-rem(400);
                
                .card-header {
                    background-color: $gray;

                    .card-header-title {
                        color: $orange-axe;
                    }
                }

                ul {
                    li {
                        padding-bottom: convert-to-rem(8);
                    }
                }
            }
        }
    }
}

@include xs {
    .container {
        .section {
            .cards {
                display: flex;
                flex-direction: column;

                .card {
                    margin: convert-to-rem(24) 0;
                }
            }
        }
    }
}

@include sm {
    .container {
        .section {
            .cards {
                display: flex;
                flex-direction: column;

                .card {
                    margin: convert-to-rem(24) 0;
                }
            }
        }
    }
}

@include md {
    .container {
        .section {
            .cards {
                display: flex;
                flex-direction: column;

                .card {
                    margin: convert-to-rem(24) 0;
                }
            }
        }
    }
}
