<div class="">
    <div class="container">
        <nav class="navbar is-white" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" routerLink="/home">
                    <img src="../assets/image/hache-g.png" alt="Accueil logo">
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/visite"> Visite du gîte </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/tarif"> Nos tarifs </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/coordonnee"> Nos coordonnées </a>
                    </div>    
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/descriptif"> Descriptif du gîte </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/histoire"> Notre histoire </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/les-martis"> Le coin des martis </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/map"> Localisation </a>
                    </div>
                </div>
            </div>             
        </nav>
    </div>  
</div>