@import "functions";
@import "vars";

.background {
    background-color: $background-gray-0;

    .navbar {
        background-color: transparent;
        .welcome-libelle {
            padding-left: convert-to-rem(10);
        }
    }
}
