@import "functions";
@import "vars";

.background {
    background-color: $background-gray-0;

    .navbar {
        
        background-color: transparent;

        .welcome-libelle {
            padding-left: convert-to-rem(10);
        }
        
        .active {
            font-weight: 600;
            transition: background-color 1s ease;
            background-color: $background-gray-3;
        }

        .navbar-brand {
            .is-flex {
                align-items: center;
            }
        }
    }
}
