<div>
    <div class="container">
        <nav class="navbar is-white" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" routerLink="/home">
                    <img src="../assets/image/hache-g.png" alt="Accueil logo">
                    <span class="welcome-libelle">Accueil</span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/visite">
                            <span>Visite du gîte</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/tarif">
                            <span>Nos tarifs</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/coordonnee">
                            <span>Nos coordonnées</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/descriptif">
                            <span>Descriptif du gîte</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/histoire">
                            <span>Notre histoire</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/les-martis">
                            <span>Le coin des martis</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="is-light is-outlined" routerLink="/map">
                            <span>Localisation</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>