<div class="background">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand navbar-item" routerLinkActive="active">
                <a class="is-light is-outlined is-flex" routerLink="/home">
                    <img src="../assets/image/hache-g.png" alt="Accueil logo">
                    <span class="welcome-libelle">Accueil</span>
                </a>
                <div (click)="burgerClick($event)"
                    (keydown)="burgerClick($event)"
                    role="button"
                    class="navbar-burger burger"
                    tabindex="0"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbar-menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                </div>
            </div>
            <div id="navbar-menu" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/visit">
                            <span>Visite du gîte</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/tariff" >
                            <span>Nos tarifs</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/coordinate">
                            <span>Nos coordonnées</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/disponibility">
                            <span>Nos disponibilités</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/description">
                            <span>Descriptif du gîte</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/history">
                            <span>Notre histoire</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/les-martis">
                            <span>Le coin des Martis</span>
                        </a>
                    </div>
                    <div class="navbar-item" routerLinkActive="active">
                        <a class="is-light is-outlined" routerLink="/map">
                            <span>Localisation</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
