// Colors

// Main gray
$gray: #212121;

// Main orange
$orange-axe: #e9aa76;

// Background colors
$background-gray-0: #f7f7f7;
$background-gray-1: #fafafa;
$background-gray-2: #f5f5f5;
$background-gray-3: #eeeeee;
$background-gray-4: #e0e0e0;

// Font
$font-size: 16px;
$base-size: 16;

// Overload bulma variables
$steps-completed-color: $orange-axe;
$steps-active-color: $orange-axe;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
$screen-sm-max: 767.99px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 996.99px;

// Tablets and small desktops
$screen-lg-min: 997px;
$screen-lg-max: 1219.99px;

// Large tablets and desktops
$screen-xl-min: 1220px;
