<app-page-header [pageName]="pageName"></app-page-header>
<div class="container">
    <div class="section">
        <div class="space">
            <div class="is-flex">
                <p class="is-size-4 has-text-centered">
                    <span>Votre semaine est disponible ?</span>
                    <a class="has-text-link" routerLink="/coordinate">
                        Contactez-nous
                    </a>
                    <span>vite pour la réserver !</span>
                </p>
            </div>
        </div>
        <div class="is-flex">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23e9aa76&amp;ctz=Europe%2FParis&amp;src=bGFoYWNoZWdvdXJtYW5kZUBnbWFpbC5jb20&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;showTitle=1&amp;title=G%C3%AEte%20la%20grange%20de%20la%20hache%20gourmande"
                width="800"
                height="600"
                frameborder="0"
                scrolling="no"
                title="Disponibilité du gîte sur google calendar">
            </iframe>
        </div>
    </div>
</div>
