@import "../styles/vars";
@import "../styles/functions";

.head {
    background-color: $gray;
    height: convert-to-rem(35);
    align-items: center;
}

.head-text {   
    color: $orange-axe; 
    font-size: large;
}
