@import "vars";
@import "functions";

.head {
    background-color: $gray;
    height: convert-to-rem(35);
    align-items: center;
}

.head-text {
    color: $orange-axe; 
    font-size: large;
    padding: 0 convert-to-rem(4);
}

a:focus {
    outline: solid;
    outline-color: $background-gray-3;
    outline-width: thin;
}

.skiplink {
    background: $orange-axe;
    left: 50%;
    z-index: 100;
    padding: convert-to-rem(4);
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skiplink:focus {
    transform: translateY(0%);
  }
