<app-page-header [pageName]="pageName"></app-page-header>
<div class="container">
    <div class="section">
        <div class="cards">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Par courrier électronique</p>
                </header>
                <div class="card-content">
                    <div class="is-flex">
                        <fa-icon class="is-size-1" [icon]="faEnvelope"></fa-icon>
                        <div class="is-flex">
                            <p class="is-size-4">la-hache-gourmande@orange.fr</p>
                            <p class="is-size-5">(réponse rapide assurée...)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="is-size-1">OU</p>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Par téléphone</p>
                </header>
                <div class="card-content">
                    <div class="is-flex">
                        <fa-icon class="is-size-1" [icon]="faPhone"></fa-icon>
                        <div class="is-flex">
                            <p class="is-size-4">05 61 02 88 12</p>
                            <p class="is-size-5">ou</p>
                            <p class="is-size-4">06 33 59 36 67</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-flex space">
            <p class="is-size-5">Veuillez préciser dès le début de la communication la raison de votre appel, merci...</p>
        </div>
    </div>
</div>
