@import "functions";
@import "mixins";

.section {
    padding-top: convert-to-rem(48);

    .steps {
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
    }
}

@include xs {
    .section {
        display: flex;
        justify-content: center;

        .steps {
            .steps-segment {
                display: flex;
                align-items: baseline;

                span {
                    padding-left: convert-to-rem(4);
                }
            }
        }
    }
}

@include sm {
    .section {
        display: flex;
        justify-content: center;

        .steps {
            .steps-segment {
                display: flex;
                align-items: baseline;

                span {
                    padding-left: convert-to-rem(4);
                }
            }
        }
    }
}
