<app-page-header [pageName]="pageName"></app-page-header>
<div class="container">
    <div class="section"
        *ngFor="let description of descriptionContent">
        <h2 class="title is-size-2">{{description.title}}</h2>
        <div *ngFor="let part of description.part; let i = index">
            <h3 class="is-size-3" *ngIf="part.title">{{part.title}}</h3>
            <div appBoldByName
                class="content"
                *ngFor="let content of part.content">
                <p  class="is-size-4">{{content.text}}</p>
            </div>
            <hr *ngIf="isNotLast(description, i)">
        </div>
    </div>
</div>

